@import "tailwindcss";
@import "@hallelx2/ui/tokens";
@import "@hallelx2/ui/styles";

@theme {
  --color-bioluminescent-lime: #cef79e;
  --color-abyssal-ink: #222f30;
  --color-bone-white: #f7f7f5;
  --color-paper: #ffffff;
  --color-graphite: #4d5757;
  --color-lichen: #c9cbbe;
  --color-tissue: #e7e8e1;
  --color-frost: #eeeeee;
  --color-void: #000000;

  --font-aspekta: 'Inter Tight', 'Aspekta', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-roboto-mono: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-2xl-2: 20px;
  --radius-3xl: 40px;
}
